body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #065e69;
    color: #fff;
    padding: 1rem 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logontext {
    display: flex;
    align-items: center;
    gap: 0.75rem; /* oder z. B. 1rem */
}

.logo img {
    width: 40px;
    height: auto; /* Seitenverhältnis bleibt erhalten */
}


.nav {
    display: flex;
    gap: 1rem;
}

.nav div {
    cursor: pointer;
    background-color: #0a9396;
    padding: 0.5rem 1rem;
    border-radius: 4px;
}

main {
    flex: 1;
    padding: 2rem;
    background-color: #f0f0f0;
}

.hero {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.hero-image img{
    width: 350px;
    margin-right: 8rem;
}

.hero-text{
    max-width: 600px;
    margin-right: 8rem; 
    line-height: 1.6; 
}

.certificate-container {
    width: 400px;
    margin: 0 auto;
    margin-top: 4rem;
}


.certificate {
    margin-top: 2rem;     /* Abstand nach oben */
    margin-bottom: 2rem;  /* Abstand nach unten (zwischen zwei divs) */
    display: flex;
    gap: 4rem; /* Abstand zwischen den divs */
}

.certificate img {
    width: 150px;
}

footer {
    background-color: #065e69;
    color: #ccc;
    text-align: center;
    padding: 1rem;
}

.container {
  max-width: 1200px;     /* maximale Breite, z. B. 1200px */
  margin: 0 auto;        /* zentriert den Container horizontal */
  padding: 0 1rem;       /* Abstand links und rechts */
}